<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="bayesemailscoringsystem" name="bayesemailscoring" class="spam.BayesEmailScoringSystem"/>
	<bean id="bayescommentscoringsystem" name="bayescommentscoring" class="spam.BayesCommentScoringSystem"/>
	
	<bean id="emailspamalgorithm" name="naivebayes" class="spam.NaiveBayesEmailAlgorithm">
		<constructor-arg name="scoringSystem" ref="bayesemailscoringsystem" type="spam.BayesEmailScoringSystem"/>
	</bean>
	<bean name="emailprobabilitycalculator" class="spam.ProbabilityCalculator">
		<constructor-arg name="algorithm" ref="emailspamalgorithm" type="spam.SpamAlgorithm"/>
	</bean>
	<bean name="emailprobabilitytrainer" class="spam.BayesEmailProbabilityTrainer">
		<constructor-arg name="scoringSystem" ref="bayesemailscoringsystem" type="spam.BayesEmailScoringSystem"/>
	</bean>
	
	<bean id="commentspamalgorithm" name="naivebayes" class="spam.NaiveBayesCommentAlgorithm">
		<constructor-arg name="scoringSystem" ref="bayescommentscoringsystem" type="spam.BayesCommentScoringSystem"/>
	</bean>
	<bean name="commentprobabilitycalculator" class="spam.ProbabilityCalculator">
		<constructor-arg name="algorithm" ref="commentspamalgorithm" type="spam.SpamAlgorithm"/>
	</bean>
	<bean name="commentprobabilitytrainer" class="spam.BayesCommentProbabilityTrainer">
		<constructor-arg name="scoringSystem" ref="bayescommentscoringsystem" type="spam.BayesCommentScoringSystem"/>
	</bean>
</beans>
